.assignment-container {
  width: 100%;
  height: 100%;

}

.Assignmentcard-container {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #dddddd;

  background-color: rgb(179, 32, 32);
  
}

.assignment-card {
  /* background-color: red; */
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  background-color: rgb(240, 240, 240);

}



.create-assignment {
  margin-top: 40px;
  /* border: 1px solid #5c7c77; */
  /* box-shadow: 0px 3px 5px #5c7c77; */
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.create-assignment form {
  margin-top: 10px;
  padding: 10px;
}

.assignment-table {
  margin-top: 40px;
  /* border: 2px solid #dddddd; */
  /* box-shadow: 0px 3px 5px #5c7c77; */
  padding: 10px;
  background-color: rgb(240, 240, 240);
}
/* Add this style to your Assignment.css file or wherever you manage your CSS */
.small-table {
  font-size: 0.9rem; /* Adjust the font size as needed */
}
