/* Team.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: space-around;
  background-color: rgb(247, 247, 247);
  margin-top: 30px;
  border: 1px solid black;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-media {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.card-content {
  text-align: center;
}

.card-actions {
  display: flex;
  justify-content: center;
}

.card-link {
  text-decoration: none;
}

.card-button {
  color: #fff;
}
