@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.home {
    background-image: url("./home.jpg");
    background-size: cover;
    opacity: 0.7;
    background-position: center;
    width: 100%;
    height: 91vh;
  }

.home-title {
  text-align: center;
  color: #ff0000;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;

  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}

.title1 {
  animation: showup 7s infinite;
  font-size: 70px;
  color: white;
  background: linear-gradient(to right, rgba(8, 81, 109, 0.699) , hsla(0, 0%, 0%, 0.705));
  /* padding: 10px; */
  width: 40vw;
  letter-spacing: 4px;
  font-weight: 900;
}

.title2 {
  margin-top: 20px;
  /* width: 100vw; */
  animation: reveal 7s infinite;
}

.title2 span {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.726);
  color: black;
  margin-left: -355px;
  animation: slidein 7s infinite;
  letter-spacing: 2px;
}

.title3 {
  margin-top: 20px;
  height: auto;
  width: 10vw;
  animation: reveal 7s infinite;
}

.title3 span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  color: #055f85;
  font-family:'Times New Roman', Times, serif;
 
  margin-right: -355px;
  animation: slidein2 7s infinite;
  letter-spacing: 1px;
}

.title3 span p {
  margin: 0;
  margin-left: 5px;
  background-color: #166584;
  color: white;
  text-align: center;
  padding:0px 5px;
  /* animation: slidein2 7s infinite; */
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slidein2 {
  0% {
    margin-right: -800px;
  }
  20% {
    margin-right: -800px;
  }
  35% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 0;
    width: -100px;
  }
  30% {
    width: 355px;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
