.New-departmemt{
    margin-top: 10px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    /* box-shadow: 0px 3px 5px #5c7c77; */
    border: 1px solid #5c7c77;
    padding: 10px;
}

.New-departmemt form{
    margin-top: 20px;
}


.Department-table{
    background-color: rgb(240, 240, 240);
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid #5c7c77; */
    padding: 10px;
    /* box-shadow: 0px 3px 5px #5c7c77; */
  }
  