
    .tableRow{
     
        background: '#f2f2f2',
     
    }

    /* tableCell: {
      border: '1px solid #dddddd',
      padding: 8,
    },
    editButton: {
      color: "#055f85",
    },
    deleteButton: {
      color: "red",
    },
    tableHeadCell: {
      backgroundColor: '#5c7c77', // Set the background color of TableHead cells to blue
      color: 'white', // Set the text color to white for better contrast
      border: '1px solid #dddddd',
      padding: 8,
    },
  }); */